.header-wrap {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var(--color-text);

  & a {
    color: var(--color-text);
    font-size: 14px;
    font-weight: var(--medium);
  }
}
.wrapper-wrap {
  display: flex;
  gap: 3.5rem;
}
