.header-wrap {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var(--color-text);

  & a {
    color: var(--color-text);
    font-weight: var(--medium);
    font-size: var(--medium-size);
  }
}
.wrapper-wrap {
  display: flex;
  gap: 3.5rem;
}
.pop-up-btn {
  box-shadow: var(--shadow-2) !important;
}
.hero-image {
  width: 4rem !important;
  height: 4rem !important;
}
