* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Montserrat", Helvetica;
  list-style-type: none;
}
a {
  text-decoration: none;
}
html {
  font-family: var(--font-family-1);
}
.class-section-1 > article {
  display: flex;
  /* width: 18.75rem; */
  background: var(--color-background);
  position: relative;
}
.class-section-1 {
  border-radius: 20px;
  border: 3px solid;
  border-color: var(--color-border);
  transition: all 0.2s ease-out;
  box-shadow: var(--shadow-1);
}
.class-section-1:hover {
  border-color: rgba(42, 71, 28, 0.8);
  box-shadow: var(--shadow-3);
}

.class-section-1 .head-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.class-section-1 .image {
  width: 50%;

  border-radius: 20px 0 0 20px;
  /* border-color: var(--color-border); */
}
.class-section-1 .heart-grey {
  width: 1.3rem;
  right: 0.8em;
}
.class-section-1 .text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1em 0.8em;
  width: 100%;
}
.class-section-1 h3 {
  font-weight: var(--semi-bold);
  font-size: var(--medium-size);
  line-height: var(--line-height-4);
  color: var(--color-text);
  white-space: nowrap;
}
.class-section-1 .class-type {
  margin-top: -0.5em;
  font-weight: var(--medium);
  font-size: var(--tiny);
  line-height: var(--line-height-4);
  color: var(--color-light-grey);
  white-space: nowrap;
}
.class-section-1 .class-info {
  display: flex;
}
.class-section-1 .class-info {
  gap: 1em;
  margin-top: 1.2em;
  font-weight: var(--medium);
  font-size: var(--small);
  color: var(--color-light-grey);
}
/* .seat-count::before {

  top: 0.3rem;
  content: url("../assets/Seat-logo.svg");
  width: 0.9rem;
  height: 1.4rem;
  margin-right: 5px;
}
.projector {
  top: 0.2rem;
  width: 1.6rem;
  height: 1.4rem;
  margin-right: 5px;
}
.proj-off::before {
  content: url("../assets/Projector-off.svg");
}
.proj-on::before {
  content: url("../assets/Projector.svg");
} */
/* .main {
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: var(--color-background);
  margin: 2rem 5rem;
  height: 110%;
  border-radius: 20px;
  border: solid var(--color-border);
  border-width: 0.5px;
} */

/*
header{
  background-color: aqua;
  & a{
      padding-left: 10rem;
  }
} */

& .class-section-2 {
  border: 1px solid var(--color-border);
  overflow: hidden;
  border-radius: 1rem;
  height: 100%;
  width: 20rem;
  display: flex;
  justify-content: space-between;

  & .details {
    padding-left: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
    padding-top: 0.8rem;
    display: flex;
    flex-direction: column;
    & button {
      border-radius: 1rem;
      border-style: solid;
      border-width: 0.5px;
      padding: 0.1rem 1rem;
      background-color: var(--color-white);
      border: 1px solid var(--color-dark-grey);
    }
    & ul {
      & li {
        padding-top: 0.2rem;
      }
    }
  }
  & .cancel {
    width: 10%;
    & button {
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: #d46a6a;
      & img {
        height: 94%;
        width: 100%;
        border-radius: 0px 10px 10px 0px;
      }
    }
  }
}
.class-day {
  font-size: var(--small);
  font-weight: var(--medium);
}
.font h3 {
  font-weight: var(--bold);
  font-size: var(--medium-size);
  line-height: var(--line-height-4);
  color: var(--color-text);
  white-space: nowrap;
}
.class-type {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  font-weight: var(--medium);
  font-size: var(--tiny);
  line-height: var(--line-height-4);
  color: var(--color-light-grey);
  white-space: nowrap;
}

.right-section {
  border-left: 1px solid black;
  height: 100%;
  & h1 {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
}
.info {
  /* display: flex; */
  /* margin:30%;
        & .profile-button{
        } */
  /* position: relative;
      width: 80% !important;
      text-align: center;
      justify-content: center !important;
      align-items: center; */
  margin-left: 30px !important;
  margin-top: 20px !important;
  & li {
    margin-top: 10px !important;
  }
}

.log-out {
  position: relative;
  margin-right: 3rem;
  margin-top: 3rem;
  border-top: 1px solid black;
  height: 100%;
  font-weight: var(--medium);
  font-size: var(--medium);
  line-height: var(--line-height-4);
  color: var(--color-light-grey);
  white-space: nowrap;
  text-align: center;
}

.username {
  color: var(--color-text);
  font-weight: var(--semi-bold);
}
