.class-section-1 > article {
    display: flex;
    /* width: 18.75rem; */
    background: var(--color-background);
    position: relative;
    border-radius: 20px;
    /* border: 3px solid; */
    /* border-color: var(--color-border); */
}
.class-section-1 .head-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.class-section-1 .image {
    width: 50%;

    border-radius: 20px 0 0 20px;
    /* border-color: var(--color-border); */
}
.class-section-1 .heart-grey {
    width: 1.3rem;
    right: 0.8em;
}
.class-section-1 .text-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1em 0.8em;
    width: 100%;
}
.class-section-1 h3 {
    font-weight: var(--semi-bold);
    font-size: var(--medium-size);
    line-height: var(--line-height-4);
    color: var(--color-text);
    white-space: nowrap;
}
.class-section-1 .class-type {
    margin-top: -0.5em;
    font-weight: var(--medium);
    font-size: var(--tiny);
    line-height: var(--line-height-4);
    color: var(--color-light-grey);
    white-space: nowrap;
}
.class-section-1 .class-info {
    display: flex;
}
.class-section-1 .class-info {
    gap: 1em;
    margin-top: 1.2em;
    font-weight: var(--medium);
    font-size: var(--small);
    color: var(--color-light-grey);
}