.room-detail-card-container{
    background-color: white;
    box-shadow: var(--shadow-1);
    padding:1.25rem;
    border-radius: 20px;
    display: inline-block;
}

.room-detail-card{
    display: flex;
    & div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
    }
}
