@import url(styleguide.css);

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol,
ul,
li,
fieldset,
form,
label,
article,
aside,
footer,
header,
nav,
section,
button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Montserrat", Helvetica;
    list-style-type: none;
}
a {
    text-decoration: none;
}
html {
    background: var(--color-background);
    font-family: var(--font-family-1);
}
/* -----------------NAVBAR-------------------- */

class-section {
    padding: 0.5rem 0.2rem;
    border: 3px solid;
    border-color: var(--color-border);
    border-radius: 20px;
    transition: all 0.2s ease-out;
    box-shadow: var(--shadow-1);
}
class-section:hover {
    border-color: rgba(42, 71, 28, 0.8);
    box-shadow: var(--shadow-3);
}

.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
    background-color: var(--color-background);
    box-shadow: var(--shadow-1);
}

.main-header nav {
    display: flex;
    flex-wrap: nowrap;

    margin: 2.875rem 6rem;

    justify-content: space-around;
    align-items: center;
}
.main-header-2 {
    position: sticky;
    top: 0;
    z-index: 4;
    background: var(--color-background);
    box-shadow: var(--shadow-2);
}

.main-header-2 nav {
    display: flex;
    margin: 0rem 6rem;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

/* -----------------CALENDAR------------------ */
.calendar-wrapper {
    width: 15em;
    background-color: var(--color-background);
    border-radius: 30px;
    box-shadow: var(--shadow-2);
}
.calendar-wrapper div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em 1em 1.5em 1em;
}
.calendar-wrapper span {
    font-size: 35px;
}
.calendar-wrapper .current-date {
    font-weight: var(--semi-bold);
    font-size: var(--medium-size);
    line-height: var(--line-height-4);
    color: var(--color-text);
}
.calendar {
    padding: 0 16px 0 16px;
}
.calendar ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.calendar ul li {
    width: calc(100% / 7);
    height: auto;
}
.calendar .weeks li {
    color: #797b86;
    font-weight: var(--semi-bold);
    font-size: var(--tiny);
}
.calendar .days li {
    font-weight: var(--regular);
    font-size: var(--small);
    line-height: 24px;
    margin-top: 10px;
    color: var(--color-text);
}
.calendar .days {
    margin-bottom: 25px;
}
/* Calendar interactive style */
.calendar-box {
    display: none;
    flex-direction: column;
    align-items: center;

    position: absolute;
    z-index: 999;

    top: 4.5em;
    gap: 1.5em;

    padding: 1.5em;

    border-radius: 30px;
    border: 1px solid var(--color-border);

    background-color: var(--color-background);
}

.calendar-icons span {
    cursor: pointer;
    color: var(--color-text);
}
.button-list {
    display: flex;
    gap: 1.25em;
    justify-content: center;
}
.button-list li button {
    width: 90px;
    height: 30px;

    border-radius: 30px;

    text-wrap: nowrap;
    font-size: var(--small);
    font-weight: var(--medium);

    background: var(--color-background);
}
.days li.inactive {
    color: var(--color-light-grey);
}
.days li.inactive:hover {
    background: var(--color-white);
    cursor: default;
}
.days li {
    cursor: pointer;
}

.day-active {
    background: var(--color-primary);
    color: var(--color-white);
    border-radius: 0;
}
/* ---------------CALENDAR-END---------------- */

/* ---------------COMPONENT-------------------- */
.logo {
    width: 64px;
    height: 64px;
}

.class-section-1 > article {
    display: flex;
    /* width: 18.75rem; */
    background: var(--color-background);
    position: relative;
    border-radius: 20px;
    /* border: 3px solid; */
    /* border-color: var(--color-border); */
}
.class-section-1 .head-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.class-section-1 .image {
    width: 50%;

    border-radius: 20px 0 0 20px;
    /* border-color: var(--color-border); */
}
.class-section-1 .heart-grey {
    width: 1.3rem;
    right: 0.8em;
}
.class-section-1 .text-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1em 0.8em;
    width: 100%;
}
.class-section-1 h3 {
    font-weight: var(--semi-bold);
    font-size: var(--medium-size);
    line-height: var(--line-height-4);
    color: var(--color-text);
    white-space: nowrap;
}
.class-section-1 .class-type {
    margin-top: -0.5em;
    font-weight: var(--medium);
    font-size: var(--tiny);
    line-height: var(--line-height-4);
    color: var(--color-light-grey);
    white-space: nowrap;
}
.class-section-1 .class-info {
    display: flex;
}
.class-section-1 .class-info {
    gap: 1em;
    margin-top: 1.2em;
    font-weight: var(--medium);
    font-size: var(--small);
    color: var(--color-light-grey);
}
.seat-count::before {
    /* position: relative; */
    top: 0.3rem;
    content: url("assets/Seat-logo.svg");
    width: 0.9rem;
    height: 1.4rem;
    margin-right: 5px;
}
.projector {
    /* position: relative; */
    top: 0.2rem;
    width: 1.6rem;
    height: 1.4rem;
    margin-right: 5px;
}
.proj-off::before {
    content: url("assets/Projector-off.svg");
}
.proj-on::before {
    content: url("assets/Projector.svg");
}
#profile-btn {
    background: var(--color-background);
    box-shadow: var(--shadow-1);
    border-radius: 50%;
    font-size: 1.5em;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    color: var(--color-text);
    &:hover{
        border: 2px solid var(--color-border);
    }
}

.class-section-3 {
    /* width: 258px; */
    height: 7.375rem;
    background: var(--color-background);

    border-radius: 20px;
    border: 3px solid;
    border-color: var(--color-border);
}

.class-section-3 article {
    display: flex;
}
.class-section-3 img {
    width: 111px;
    height: 118px;
    border-radius: 20px 0 0 20px;
}
.class-section-3 article > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;

    padding: 14px 0 19px 17px;
}
.class-section-3 article h3 {
    font-size: var(--medium-size);
    font-weight: var(--semi-bold);
    color: var(--color-text);
}
.class-section-3 article div.vote {
    font-size: var(--tiny);
    font-weight: var(--normal);
    color: var(--color-dark-grey);
    line-height: var(--line-height-4);
}

hr {
    border-top: 0.5px solid var(--color-border);
    opacity: 0.2;
    margin-top: 1.5em;
}
/* ------ User PopUp ------ */
#user-popup {
    background: var(--color-background);
    border: 1px solid var(--color-border);
    border-radius: 20px;
    width: 20rem;
    height: auto;
    position: absolute;
    right: 6rem;
    top: 5rem;
    display: none;
}
.open {
    display: block !important;
}
#user-popup > ul {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 1.5rem;
}
.menu:hover {
    cursor: pointer;
}
.menu::before {
    font-family: "Font Awesome 6 free";
    font-size: 1.4em;
    margin-right: 0.5em;
}
.menu {
    font-size: var(--regular);
    font-weight: var(--semi-bold);
    color: var(--color-text);
    text-decoration: none;
    margin-left: 1rem;
}
.reserved-menu::before {
    content: "\f543";
    margin-right: 0.8em;
}
.liked-menu::before {
    content: "\f004";
}
.contact-menu::before {
    content: "\f590";
}
.button {
    font-size: var(--regular);
    font-weight: var(--semi-bold);
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 100%;
    height: 3rem;
}
.button:hover {
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-white);
}

/* ------ User PopUp END ------ */

.mobile-nav {
    display: none;
}

footer {
    background-color: var(--color-background);
    box-shadow: var(--shadow-3);
    width: 100%;
    height: 10rem;
    margin-top: 5rem;
    position: relative;
    bottom: 0;
}
/* --------- MEDIA QUERIES --------- */
@media (max-width: 660px) {
    .mobile-nav {
        display: block;
        position: fixed;
        width: 100%;
        z-index: 999;
        bottom: 0;
        background: var(--color-background);
        border-radius: 35px;
        box-shadow: var(--shadow-2);
    }
    .mobile-nav ul {
        display: flex;
        height: 5rem;
        justify-content: space-evenly;
        align-items: center;
    }
    .mobile-nav img {
        width: auto;
        height: 1.5rem;
    }

    .main-header-2 {
        display: none;
    }

    .class-section-1 {
        height: 100%;
    }
    .class-section-1 > article {
        display: flex;
        flex-direction: column-reverse;
        border-radius: 20px;
    }
    .class-section-1 .image {
        width: 100%;
        /* height: 6.1rem; */

        border-radius: 0px 0 20px 20px;
    }
    .class-section-1 .head-wrapper {
        justify-content: space-between;
    }
    .class-section-1 .text-wrapper {
        margin: 0.875em 0.5em 0.75em;
    }
    .class-section-1 h3 {
        font-size: var(--medium-size);
        font-weight: var(--semi-bold);
        line-height: var(--line-height-3);
    }
    .class-section-1 .class-type {
        margin-top: -0.55em;
    }
    .class-section-1 .class-info {
        margin-top: 0.5em;
    }
}
/* --------------------HOME-PAGE-MAIN--------------- */
.hero-image {
    display: none;
}
.search-bar {
    width: 55%;
    height: 4.375rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    background: var(--color-background);
    border-radius: 50px;
    border: 2px solid;
    border-color: var(--color-border);
    box-shadow: var(--shadow-1);

    font-size: var(--small);
    font-weight: var(--medium);

    & .bair,
    & .odor,
    & .tsag {
        display: flex;
        width: 25%;
        height: 3.125rem;
        align-items: flex-start;
        position: relative;

        & .light-grey {
            color: var(--color-light-grey);
            margin-top: 0.2em;
        }
    }
}
.odor > button,
.tsag > button,
.bair > button {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-text);
    background: var(--color-background);
    border-radius: 30px;
    border: none;

    font-size: var(--small);
    font-weight: var(--medium);

    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
        background: var(--color-background);
    }
    & span,
    time {
        padding-left: 0.9em;
    }
}
.search-bar button {
    cursor: pointer;
}
.search-button-background {
    width: 3.4rem;
    height: 3.4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50px;
    border: 2px solid;
    border-color: var(--color-border);

    background: var(--color-primary-gradient);
}
.search-button-background > button {
    width: 100%;
    height: 100%;

    background: transparent;

    border-radius: 40px;
    border: none;
}
.search-button-background > button > img {
    padding-top: 0.3em;
    width: 1.6rem;
}
.search-bar .bair-list single-bair {
    border-radius: 10px;
    transition: all 0.2s ease-out;
}
.search-bar .bair-list single-bair:hover {
    box-shadow: var(--shadow-1);
}

/* -------------------------------MAIN HOMEPAGE------------------------------- */

.class-filter {
    margin-bottom: 1.25em;
    margin-top: 1.6em;
    position: relative;
    left: 10vw;
}
.class-filter ul {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
}

.class-filter ul > li > button {
    width: 5.31rem;
    height: 2rem;

    background: var(--color-background);
    color: var(--color-light-grey);

    font-size: var(--small);
    font-weight: var(--normal);

    border-radius: 20px;
    border-color: transparent;
}

.main-content {
    display: grid;
    gap: var(--gap-1);
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    justify-content: center;
}

.wrapper {
    display: flex;
    margin: 0px var(--margin-1) 0px var(--margin-1);
}

aside.index-aside {
    width: 25%;
    margin-left: auto;
    margin-top: 15.25rem;

    border-radius: 20px;
    border: 3px solid;
    border-color: var(--color-border);
    background: var(--color-background);
}
aside.index-aside section {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fill, minmax(16.125rem, 1fr));
    justify-content: center;
    gap: var(--gap-1);

    margin: 1em;
}
aside.index-aside section h2 {
    font-size: var(--heading-5);
    font-weight: var(--bold);
    margin-top: 4px;
}
main.index-main {
    width: 75%;
    background: var(--color-background);
    display: flex;
    flex-direction: column;
}

main {
    margin-top: 10.4375rem;
    margin-right: var(--gap-1);
}
.mobile-nav {
    display: none;
}

/* --------------------MEDIA-QUERIES----------------- */
@media (max-width: 1140px) {
    aside {
        display: none;
    }
    main.index-main {
        width: 100%;
        margin: 0;
    }
    .main-header nav {
        margin: 2em;
    }
    .wrapper {
        margin: 9em 2em 0 2em;
    }

    .class-filter {
        position: inherit;
    }
}

@media (max-width: 660px) {
    .hero-image {
        display: block;
        height: 30vh;
    }
    .wrapper {
        flex-direction: column;
        margin: 0;
    }

    .main-content {
        margin: 0 1.5rem;
        display: grid;
        gap: 0.75rem;
        grid-template-columns: repeat(auto-fill, minmax(9.8rem, 1fr));
        justify-content: center;
    }
    .class-filter ul {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    .class-filter ul > li > button {
        width: 4.625rem;
        height: 1.56rem;

        font-size: var(--tiny);
        font-weight: var(--medium);
    }
    .mobile-nav {
        display: block;
    }

    .main-header {
        display: block;
        margin: 0;
        position: inherit;
    }
    .main-header .hero-image {
        width: 100%;
    }
    .main-header nav {
        margin: -1.5em 0 0 0;
        & .header-logo {
            display: none;
        }
        & #profile-btn {
            display: none;
        }
    }
    .line-svg {
        display: none;
    }
    .search-bar {
        width: 100%;
        justify-content: space-evenly;
        margin: 0 1.2em;
    }
    .search-bar .bair {
        width: 80%;
    }

    .search-bar .search-button-background {
        margin-right: 1em;
    }

    .class-filter {
        margin-top: 1em;
    }
    .main-header nav {
        animation: none;
    }
}

.class-section-3 {
    border: 2px solid;
    border-radius: 20px;
    border-color: var(--color-border);
    transition: all 0.2s ease-out;
}
.class-section-3:hover {
    border: 2px solid;
    border-color: rgba(42, 71, 28, 0.8);
}
.main-header nav {
    animation: nav-animation linear forwards;
    animation-timeline: view();
    animation-range-start: 100vh;
    animation-range-end: 140vh;
}
.line-svg {
    margin-top: 0.75em;
    height: 70%;
    fill: black;
}

@keyframes nav-animation {
    100% {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

/* ------------------------POP- UPS------------------------ */

.bair-list {
    display: none;
    position: absolute;
    z-index: 999;
    width: 20rem;

    top: 4.5rem;

    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    /* repeat(var(--destination-card-columns,3),minmax(0,1fr)) */

    padding: 1.4em;

    border-radius: 30px;
    border: 1px solid var(--color-border);
    background: var(--color-background);
}

.bair-list > single-bair {
    width: 100%;
    & button {
        width: 100%;
        padding: 0.3em;
        border-radius: 10px;
        background: var(--color-background);
        color: var(--color-text);
        & img {
            width: inherit;
            border-radius: inherit;
        }
    }
    & span {
        margin-left: 0.2em;

        font-size: var(--small);
        font-weight: var(--medium);
        color: var(--color-dark-grey);
    }
}

.bair-list.open {
    display: grid !important;
}
.tsag-list {
    display: none;
    display: none;
    position: absolute;
    z-index: 999;
    width: 15rem;

    top: 4.5rem;

    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));

    padding: 1.4em;

    border-radius: 30px;
    border: 1px solid var(--color-border);
    background: var(--color-background);
}

.tsag-list > li {
    width: 100%;
    & button {
        width: 100%;
        padding: 0.3em;
        border-radius: 10px;
        background: var(--color-background);

        font-size: var(--small);
        font-weight: var(--medium);
        color: var(--color-text);
    }
}

.tsag-list.open {
    display: grid;
}
.open-flex {
    display: flex;
}

.tsag-active > button {
    background: var(--color-primary) !important;
    color: var(--color-white);
}


/* ---------- CLASS page ---------- */

/* ---------- CLASS INFO SECTION ---------- */
.main-class-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
    font-size: 1rem;
}
text{
    color: var(--color-text);
}

.main-class-title{
    /* background: var(--color-background); */
    border-radius: 20px;
    width: 31em;
    height: 20em;
    border: 1px solid var(--color-border);
    box-shadow: var(--shadow-3);
}
.main-class-title > h2 >span::after{
    font-family: "Material Symbols Outlined";
    content: "\e87d";
    color: var(--color-accent);
    font-size: 1.2em;
}
.main-class-title > h2 span{
    margin: 0.5em 0.9em;
    display: flex;
    justify-content: space-between;
}
.main-class-title > h2{
    width: inherit;
    color: var(--color-text);
}
.class-img{
    border-radius: 0 0 20px 20px;
    width: 100%;
    height: 14.5em;
}

.main-class-info > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
    font-size: var(--medium);
}
.main-info{
    background: var(--color-background);
    box-shadow: var(--shadow-3);
    border-radius: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    column-gap: 0.7em;
    width: 22em;
    height: 5.5em;
}
.info-type{
    font-size: 1em;
    color: var(--color-text);
}

.info-desc, .rate-title{
    font-size: 0.8em;
    font-weight: var(--medium);
    color: var(--color-light-text);
    text-align: center;
}
.info-attr{
    color: var(--color-text);
    fill: var(--color-text);
}
#proj-state{
    padding-top: 0.5em;
    width: 1.5em;
    height: 1.5em;
}
.vl {
    border-left: 1px solid var(--color-border);
    height: 2em;
}

/* ------ RATING ------ */
.rating{
    display: grid;
    justify-items: center;
}

.rate{
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: var(--bold);
    color: var(--color-text);
    margin-bottom: 0.4em;
}
.rate::before, .rate::after, .rate-title-p::before, .rate-title-p::after{
    content: url("assets/Star-2.svg");
    margin-top: 0.2em;
    margin-right: 0.1em;
    fill: var(--color-accent);
}
.rate::after{
    transform: rotateY(3.142rad);
    margin-left: 0.1em;
}
.rate-criteria{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1em;
    row-gap: 0.9em;
}

.rate-criteria meter {
    -webkit-appearance: meter;
    -moz-appearance: meter;
    appearance: none;

    background: var(--color-background);
    color: var(--color-text);
    box-shadow: var(--shadow-2);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--small);
    font-weight: var(--semi-bold);

    width: 10em;
    height: 3.2em;
}
meter::-webkit-meter-optimum-value {
    background-color: var(--color-accent);
}

#add-rating-btn{
    background: var(--color-background);
    border: 1px solid var(--color-border);
    font-size: var(--large);
    font-weight: var(--semi-bold);
    color: var(--color-primary);
    border-radius: 30px;
    margin-top: 1em;
    transition: transform 0.5s;
    width: 4.5em;
    height: 2em;
}
#add-rating-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/* --- Class Info Section END--- */

/* ---- MENU -----  */
.option-tab{
    display: flex;
    justify-content: center;
    gap: 10rem;
    margin-top: 1.5vw;
    padding: 0;
}
.option-tab label{
    font-size: var(--heading-6);
    line-height: var(--line-height-3);
    font-weight: var(--medium);
    background: none;
    border: none;
    cursor: pointer;

}

#week-tab {
    /* display: none !important; */
}

#day-btn:checked + label + .reservation #day-tab,
#week-btn:checked + label + .reservation #week-tab {
    display: flex !important;
}

.tablink {
    visibility: hidden;
    position: absolute;
}



/* #day-btn:checked ~ .glider {
   left: 0px;
 }
 #week-btn:checked ~ .glider {
   left: 10rem;
 } */
.glider{
    width: 10rem;
    height: 3px;
    background: var(--color-primary-gradient);
    box-shadow: var(--shadow-3);
    position: absolute;
}
/* ------ MENU END ----- */

/* --- Reserve FORM --- */
.reserve-form{
    background: var(--color-background);
    box-shadow: var(--shadow-2);
    border-radius: 30px;
    width: 21rem;
    height: auto;
}
.reserve-form > ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 3em;
    gap: 0.5em;
}
.reserve-form > ul > ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "people phone1"
                         " . phone2";
    justify-content: space-between;
}
.phone-number1{
    grid-area: phone1;
}
.phone-number2{
    grid-area: phone2;
}
.people{
    grid-area: people;
}
input[type=number]{
    width: 4em  ;
}
input[type=tel]{
    width: 8.2em;
}
textarea{
    resize: none;
}
.reserve-form label{
    color: var(--color-light-text);
    font-size: var(--tiny);
    font-weight: var(--normal);
    margin-bottom: 0.5em;
}
.form-attr{
    background: var(--color-background);
    box-shadow: var(--shadow-2);
    font-size: var(--regular);
    font-weight: var(--medium);
    color: var(--color-light-text);
    border-radius: 30px;
    border: none;
    width: 100%;
    height: 2.5rem;
}
.form-attr:focus{
    outline: 0.5px solid var(--color-border);
}
.submit{
    width: 100%;
    font-size: 1.2em;
}
label{
    color: var(--color-text);
}
/* --------- Week SECTION ---------  */
.available-days{
    background: var(--color-background);
    border-radius: 30px;
    width: 45rem;
    height: auto;
}

.date-range-chooser{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2em 7em 0em 7em;
    font-weight: 600;
    font-size: var(--large);
    color: var(--color-text);
}
.day > div{
    background: var(--color-background);
    box-shadow: var(--shadow-2);
    border-radius: 30px;
    text-align: center;
    width: 6.8em;
    height: 2.8em;
}
.day > div time{    /*udur*/
    font-weight: var(--bold);
    font-size: var(--large);
    color: var(--color-text);
}

.day > div > div{   /*garig*/
    font-weight: var(--semi-bold);
    font-size: var(--tiny);
    color: var(--color-light-text);
}

.timeBtn{
    background: var(--color-background);
    box-shadow: var(--shadow-2);
    border-radius: 30px;
    color: var(--color-light-text);
    font-weight: var(--semi-bold);
    font-size: var(--medium-size);
    font-family: var(--font-family-1);
    border: none;
    cursor: pointer;
    width: 5em;
    height: 2em;
}
.day-times button{
    color: var(--color-text);
}
.timeBtn:hover{
    box-shadow: var(--shadow-3);
}
.timeBtnClick{
    background-color: var(--color-primary);
    color: var(--color-white);
}

/* ----- Week Section LAYOUT -----  */
#week-tab{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.week > ul{
    display: flex;
    justify-content: space-evenly;
    padding: 1.5em;
}
.times{
    display: grid;
    gap: 1em;
    justify-content: center;
    margin-top: 1em;
}

/* ----- Week SECTION END-----  */

/* ---------- Day Section LAYOUT ---------  */
#day-tab{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1.5em;
    margin: 2rem;
    flex-wrap: wrap;
}

.day-times{
    display: flex;
    flex-wrap: wrap;
    max-width: 23em;
    gap: 1rem;
}
.time-selector{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.calendar-wrapper{
    width: 25em;
}
/* Day Section END */

/* ----- Similar Class Section ------ */
.similar-class{
    margin-top: 5rem;
    margin-left: 5rem;
}
.similar-class h2{
    text-shadow: var(--shadow-3);
    font-size: var(--heading-5);
    font-weight: var(--bold);
    color: var(--color-text);
}
.similar-class div{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    overflow: scroll;
    column-gap: 2rem;
}
.similar-class div::-webkit-scrollbar{
    display: none;
}
.similar-class a{
    min-width: 18rem;
    box-shadow: var(--shadow-3);
}
.similar-class article{
    border: none;
}

#rating-pop-up{
    background: var(--color-background);
    box-shadow: var(--shadow-2);
    border: 1px solid var(--color-border);
    border-radius: 70px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 30rem;
    height: 35rem;
}
#rating-pop-up.open{
    display: flex !important;
}

.rate-title-p{
    font-size: var(--heading-4);
    font-weight: var(--bold);
}
.rate-crits > span{
    font-size: var(--regular);
    font-weight: var(--normal);
    color: var(--color-light-text);
}
.star::before{
    content: url("assets/Star.svg");
    fill: var(--color-primary);
}
.star-wid input{
    display: none;
}
.star-wid input:not(:checked) ~ label:hover,
.star-wid input:not(:checked) ~ label:hover ~ label{
    color: var(--color-primary);
}

.star-wid input:checked ~ label{
    color: var(--color-primary);
}
.star-wid input#rate-5:checked ~ label{
    color: var(--color-border);
}
.star-wid{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.star-wid, .add-rate{
    background: var(--color-background);
    border: 1px solid var(--color-border);
    border-radius: 40px;
    margin-top: 0.2rem;
    width: 16rem;
    height: 4rem;
}
.add-rate{
    border: 1px solid var(--color-primary);
    font-size: var(--heading-5);
    font-weight: bold;
}
.add-rate:hover{
    background-color: var(--color-primary);
    color: var(--color-white);
}

/* ---------- Media Query --------- */
@media (max-width: 640px) {
    .available-days, .calendar-wrapper{
        width: 28em;
    }
    .main-class-title{
        width: 100%;
        height: 16rem;
    }
    .class-img{
        border-radius: 0;
        height: 11em;
    }
    /* --- WEEK SECTION Vertical layout on mobile --- */
    .week > ul{
        flex-direction: column;
        padding: 1.5rem;
        row-gap: 1rem;
    }
    .day{
        display:grid;
        grid-template-columns: 1fr 2fr;
    }
    .times{
        display: flex;
        flex-wrap: wrap;
        margin-left: 0.5rem;
        margin-top: 0;
        justify-content: flex-start;
        align-items: center;
    }

    /* --- Rating diffrent Layout --- */
    .rating{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-area: "crit title crit",
        "crit but crit";
    }
    .rating h6{
        grid-area: title;
        margin-top: 1.5rem;
    }
    .rate-criteria{
        grid-area: crit;
        column-gap: 9rem;
    }
    #add-rating-btn{
        grid-area: but;
        margin-top: 4rem;
        width: 4.5em;
        border: none;
        &:hover{
            border: 1px solid var(--color-border);
        }
    }
    .main-info{
        height: 4.3em;
    }
    .option-tab{
        justify-content: space-evenly;
        gap: 0;
    }

    /*  */
    .similar-class a{
        min-width: 10rem;
    }
    .similar-class{
        margin-left: 2rem;
    }

    .rating-pop-up{
        width: 22rem;
        height: 28rem;
    }
    .star-wid, .add-rate{
        width: 11.5rem;
        height: 2.7rem;
    }
    .star-wid span{
        font-size: var(--tiny);
        font-weight: var(600);
    }
}
@media (max-width: 703px) {
    .main-class-info, #day-tab{
        font-size: 0.8rem;
    }
    .class-img{
        height: 13.1em;
    }
}
@media (max-width: 968px) {
    .main-class-info, #day-tab, .available-days{
        font-size: 0.8rem;
    }
    .class-img{
        height: 13.1em;
    }
}


@import url(styleguide.css);

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Montserrat", Helvetica;
    list-style-type: none;
}
a{
    text-decoration: none;
}
html{
    background:var(--color-background-gradient);
    font-family: var(--font-family-1);

}

.main{
    display: grid;
    grid-template-columns: 20% 80%;
    background-color:  var(--color-background);
    margin: 2rem 5rem;
    height: 110%;
    border-radius: 20px;
    border: solid var(--color-border);
    border-width: 0.5px;
}


/*
header{
  background-color: aqua;
  & a{
      padding-left: 10rem;
  }
} */

.verified{
    padding-left: 1rem;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 1rem;
    & .class-section-2{
        gap: 2px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        border-radius: 1rem;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 50% 30% 10%;

        & .img{
            img{
                width: 100%;
                height: 100%;
                border-radius: 10px 0px 0px 10px ;
            }
        }
        & .details{
            & .heartdetailsgrid{
                display: grid;
                grid-template-columns: 90% 10%;
                margin: 0.5rem;
            }
            & button{
                border-radius: 1rem;
                border-style: solid;
                border-width: 0.5px;
                padding: 0.1rem 1rem;
            }
            & ul{
                margin-left: 1rem;
                & li{
                    padding-top: 0.2rem;
                }
            }
        }
        & .cancel{
            & button{
                margin-left: 1rem;
                width: 150%;
                height: 100%;
                overflow: hidden;
                background-color: #D46A6A;
                & img{
                    height: 94%;
                    width: 100%;
                    border-radius:0px 10px 10px 0px ;
                }
            }

        }
    }
}
.font h3 {
    font-weight: var(--bold);
    font-size: var(--medium-size);
    line-height: var(--line-height-4);
    color: var(--color-text);
    white-space: nowrap;
}
.class-type {
    margin-top: 0.2 rem;
    margin-bottom: 1 rem;
    font-weight: var(--medium);
    font-size: var(--tiny);
    line-height: var(--line-height-4);
    color: var(--color-light-grey);
    white-space: nowrap;
}

.right-section{
    border-left: 1px solid black;
    height: 100%;
    & h1{
        margin-left: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-weight: bold;
    }
}
.info{
    /* display: flex; */
    /* margin:30%;
      & .profile-button{
      } */
    /* position: relative;
    width: 80% !important;
    text-align: center;
    justify-content: center !important;
    align-items: center; */
    margin-left: 30px !important;
    margin-top: 20px !important;
    & li{
        margin-top: 10px !important;

    }
}
header{
    & button{
        padding: 8px;
    }
}
.log-out{
    position:relative;
    margin-right: 3 rem;
    margin-top:3rem;
    border-top: 1px solid black;
    height: 100%;
    font-weight: var(--medium);
    font-size: var(--medium);
    line-height: var(--line-height-4);
    color: var(--color-light-grey);
    white-space: nowrap;
    text-align:center;
}
.ordered:hover {
    height: 25px ;
    width: 80% !important;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 10px ;
}
.liked:hover:hover {
    height: 25px ;
    width: 80% !important;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 10px;
}
.account:hover {
    height: 25px ;
    width: 80% !important;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 10px;
}
.hovers{
    & li{
        padding-left: 0.6rem !important;
        padding-top: 0.5rem !important;
        color: var(--color-text);
    }
}
.username{
    color: var(--color-text);
    font-weight: var(--semi-bold);
    font-size: var(--color-tiny);
}
/* @media screen and (max-width: 1200px) {
  .right-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
} */

/* --------- MEDIA QUERIES --------- */
@media screen and (max-width: 1350px) {
    .verified {
        display: grid;
        grid-template-columns: 45% 45%;
    }
}

@media screen and (max-width: 900px) {
    .verified {
        display: block;
        & .class-section-2{
            width: 80%;
            margin: 0px auto;
        }
    }
    .main{
        margin: 0px auto;
    }
}

@media screen and (max-width: 600px) {
    .main {
        display: block;
    }
}
/* --------- MEDIA QUERIES --------- */
@media (max-width: 660px) {
    .mobile-nav {
        display: block;
        position: fixed;
        width: 100%;
        z-index: 999;
        bottom: 0;
        background-color: var(--color-white);
        border-radius: 35px;
        box-shadow: var(--shadow-2);
    }
    .mobile-nav ul {
        display: flex;
        height: 5rem;
        justify-content: space-evenly;
        align-items: center;
    }
    .mobile-nav img {
        width: auto;
        height: 1.5rem;
    }

    .main-header-2 {
        display: none;
    }

    .right-section .verified .class-section-2 {
        height: 100%;
    }
    .right-section .verified .class-section-2 > article {
        display: flex;
        flex-direction: column-reverse;
        border-radius: 20px;
    }
    .right-section .verified .class-section-2 .image {
        width: 100%;
        /* height: 6.1rem; */
        border-radius: 0px 0 20px 20px;
    }
    .right-section .verified .class-section-2 .heart-grey {
        position: flex;
        right: 0.8em;
    }
    .right-section .verified .class-section-2 .text-wrapper {
        margin: 0.875em 0.5em 0.75em;
    }
    .right-section .verified .class-section-2 h3 {
        font-size: var(--medium-size);
        font-weight: var(--semi-bold);
        line-height: var(--line-height-3);
    }
    .right-section .verified .class-section-2 .class-type {
        margin-top: -0.55em;
    }
    .right-section .verified .class-section-2 .class-info {
        margin-top: 0.5em;
    }

    .class-section-2{
        font-size: 15 px !important;
        margin-top: 20px !important;
    }
    .heart-grey{
        font-size:  5px !important;
    }
    .main{
        width: 100% !important;
        text-align: center !important;
        justify-content: center !important;
    }
}