html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  justify-content: center;
}
.profile-wrapper {
  display: flex;
  /* grid-template-columns: 20% 80%; */
  width: 100%;

  margin: 3.2rem 0 3.2rem 0;

  border-radius: 20px;
  border: 2.25px solid var(--color-border);

  padding: 2em;
}
.left-side {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.right-side {
  width: 80%;
  display: flex;
  flex-direction: column;
}
/* .verified,
.waiting {
  display: flex;
  flex-direction: column;
} */
.card-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));

  gap: 1.5em;
}
h2 {
  font-size: var(--medium-size);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: var(--semi-bold);
}
.profile-icon {
  width: 2.7rem;
  height: 2.7rem;
}
.profile-back {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 4.7rem;
  height: 4.7rem;

  border-radius: 50px;
  border: 1px solid var(--color-border);

  box-shadow: var(--shadow-1);
}
.user-name {
  font-size: var(--tiny);
  font-weight: var(--semi-bold);
  margin-left: 0.2em;
  margin-top: 0.5em;
}
.logout {
  background-color: var(--color-white);
  display: inherit;

  font-size: var(--tiny);
  font-weight: var(--semi-bold);
  color: var(--color-light-text);
}
.hor-line {
  margin: 3em 0 1.1em 0;
  width: 100%;
}
.ver-line {
  margin: 0 1.5em 0 0;
}
