html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  justify-content: center;
}
.profile-wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
  width: 100%;

  margin: 3.2rem;

  border-radius: 20px;
  border: 1px solid var(--color-border);

  padding: 2em;
}
.left-side {
  display: flex;
  flex-direction: column;
}
.right-side {
  display: flex;
  flex-direction: column;
}
/* .verified,
.waiting {
  display: flex;
  flex-direction: column;
} */
.card-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));

  gap: 1.5em;
}
h2 {
  font-size: var(--medium-size);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: var(--semi-bold);
}
